* {
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Anton-Regular.ttf";
    src: url(../fonts/Anton-Regular.ttf);
}

@font-face {
    font-family: "OpenSansCondensed-Light.ttf";
    src: url(../fonts/OpenSansCondensed-Light.ttf);
}

body {
    background-image: url(../images/background-light.jpg);
    max-height: 100vh;
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    display: flex;
    background-color: #72AFB2;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    max-height: 100vh;
}

@media (max-width: 1250px) {
    .main-container {
        flex-wrap: nowrap;
        flex-direction: column;
    }
}

/*HEADER*/
.main-heading {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 4rem;
    text-transform: uppercase;
    font-family: "Anton-Regular.ttf";
    color: white;
    text-shadow: 1px 10px rgba(0, 0, 0, 0.1);
    margin: 2rem 0 0 4rem;
    flex-wrap: wrap;
    margin-right: 6rem;
    align-content: center;
}

@media (max-width: 900px) {
    .main-heading {
        margin: 0;
        font-size: 2rem;
        align-content: center;
    }
    
}

h1 {
    letter-spacing: 1rem;
}

h2 {
    letter-spacing: 0.8rem;
    margin-top: -30px;
}

.marked-heading {
    color: #E76356;
}

/*TODOLIST*/
.content {
    max-height: 90vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    flex: 1;
    margin-top: 5vh;
    margin-bottom: 5vh;
    overflow-y: scroll;
}

@media (max-width: 1200px) {
    .content {
        margin: 0;
    }
}

/*BOXES*/
.box {
    flex-direction: column; 
    background: white; 
    width: 14rem;
    height: 17rem;
    margin: 1rem;
    justify-content: center;
    display: inline-flex;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    position: relative;
}

.box-description {
    text-align: center;
    margin: 0.5rem;
    font-family: 'OpenSansCondensed-Light', sans-serif;
    color: #5c5c5c;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;  
    letter-spacing: 0.05rem;
    height: 2rem;
}
    
/*IMAGES*/
.todo-image {
    width: 12rem;
    height: 12rem;  
    position: relative;
    top: 0;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    opacity: 0.8;
    display: block;
}

/*OVERLAY*/
.overlay-box {
    position: absolute;
    display: table;
    left: 0;
    top: 0;
    width: 14rem;
    height: 17rem;
    vertical-align: middle;
    text-align: center;
    margin: auto;
    opacity: 1;
}

.opacity-font {
    position: absolute;
    display: table;
    z-index: 2;
    opacity: 0.9;
    left: 0;
    top: 0;
    width: 14rem;
    height: 17rem;
    vertical-align: middle;
    text-align: center;
    margin: auto;
    background-color: rgb(147, 219, 223);
}

div.inner {
    display: table-cell;
    vertical-align: middle;
}

.large {
    font-size: 10rem;
    color: rgb(200, 255, 255);
    transition: 1s;
}

.large:hover {
    color: rgb(255, 255, 255);
}

/*SCROLLBAR*/
::-webkit-scrollbar {
  width: 3px;
  height: 4px;
}
::-webkit-scrollbar-button {
  width: 20px;
  height: 20px;
}
::-webkit-scrollbar-thumb {
  background: #ffffff;
  border: 0px none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:active {
  background: #72AFB2;
}
::-webkit-scrollbar-track {
  background: #72AFB2;
  border: 0px none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
